@page "/jury-chairs"
<section class="section-title-text awards-wea">
    <div class="container-fluid nested">
        <h1>WARC Awards for Effectiveness: 2022 Jury Chairs</h1>
    </div>
</section>
<section class="container-wide padding-t-biggest">
    <JudgeBios />
</section>
<div class="container-wide text-center mt-5 mb-5">
    <p>
        <a href="/awards/effectiveness" class="link-backwards">Back to the WARC Awards for Effectiveness page</a>
    </p>
</div>

@code {

}
